.intro {
	max-width: 10vmin;

	height: 100vh;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;

	svg {
		transition: scale 1s;

		&:hover {
			scale: 1.08;
		}
	}
}

._ {
	min-width: 31px; // if smaller, path animation may flinck and my eyes burns.

	path {
		transition: d 0.4s linear;
	}
}

// Include container on hover (better ui) :
button:hover > div > ._ {
	.lPath {
		d: path(var(--curved-l-path));
	}
	.xPath {
		d: path(var(--curved-x-path));
	}
}
