._ {
	--active-color: var(--accent-color-soft);

	margin-top: 1em;
	transform-origin: top;

	width: 100%; // Changes here have to be reflected on Work.tsx -> uiSpesificProps -> width
	max-width: 1600px; // Changes here have to be reflected on Work.tsx -> uiSpesificProps -> maxWidth

	h1 {
		margin-bottom: 1em;
	}

	nav {
		position: relative;
		margin: 1em 0;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		background: var(--background-color);
		transition: background-color var(--transition-fast);

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: -1;

			width: 90%;

			height: 2px;
			border-radius: 50%;
			@media (-webkit-max-device-pixel-ratio: 1.99) {
				scale: 1 1.3;
			}

			opacity: 0.5;
			box-shadow: 0 0 0.9em var(--border-main-color-muted);
			transition: box-shadow var(--transition-fast), border-color var(--transition-fast);
		}
		&::before {
			top: -1px;
			border-top: 1px solid var(--border-main-color-muted);
			//clip-path: inset(0 0 66% 0);
		}
		&::after {
			bottom: -1px;
			border-bottom: 1px solid var(--border-main-color-muted);
			//clip-path: inset(66% 0 0 0);
		}

		.navLink {
			display: flex;
		}

		a {
			padding: 0.7em 0.3em;
			transition: scale 0.2s, translate 0.2s;
			&::after {
				bottom: 0.5em;
			}
			&:hover {
				scale: 1.1;
			}
		}
	}
	.active {
		color: var(--active-color);
		translate: 0 -0.1em;

		&:focus-visible {
			translate: none;
		}

		&:hover {
			color: var(--active-color);
		}

		&::after {
			scale: 0.7 1;
			@media (-webkit-max-device-pixel-ratio: 1.99) {
				scale: 0.7 1.5;
			}
			border-color: var(--active-color);
			transition: border-color var(--transition-fast);
		}
	}
}

.spinner {
	width: 12%;
	aspect-ratio: 1;

	border-radius: 50%;
	border: 0.3em dotted var(--main-color);

	margin: auto;
}

.outletContainer {
	transform-origin: top;
}

.cardContainer {
	--card-gap: 1em; // Changes here have to be reflected on Work.tsx -> uiSpesificProps -> gap

	display: flex;
	flex-direction: column;
	gap: var(--card-gap);

	transform-origin: top;
}

.lineContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: var(--card-gap);
}

.card {
	--card-min-width: 15em; // Changes here have to be reflected on Work.tsx -> uiSpesificProps -> itemMinWidth

	position: relative;
	flex: 1 0 var(--card-min-width);
	//max-width: calc(2 * var(--card-min-width) + var(--card-gap) / 0.7);

	margin: 0;
	padding: 0.7em;
	padding-bottom: 1em;

	font-size: 0.8em; // Changes here have to be reflected on Work.tsx -> uiSpesificProps -> itemScale

	scale: 1;
	transform-origin: center;
	transition: scale 0.3s;
	&:hover {
		scale: 1.04;
	}

	img {
		display: block;
		width: 100%;
		min-height: 7em;

		border: 2px dotted var(--border-neutral-color);
		border-radius: 1.3em;

		margin: 1em 0;

		background: linear-gradient(
				-45deg,
				transparent 10%,
				var(hsla(181deg, 40%, 70%, 25%), #9993) 25%,
				transparent 50%
			)
			no-repeat center;
		background-size: 200% 100%;
		animation: background-position 2s 3 linear;
		transition: border-color var(--transition-fast);
	}
	.noImg {
		display: grid;
		place-items: center;
		color: #000;
		width: 100%;
		aspect-ratio: 16/9;

		border-radius: 1.3em;

		margin: 1em 0;
		background: linear-gradient(30deg, var(--accent-color-muted), var(--main-color));
		color: var(--text-main-color-soft);
		transition: background var(--transition-fast), color var(--transition-fast);

		span {
			z-index: 1;
		}
		span.alt {
			font-size: 0.8em;
			font-style: italic;
		}
	}

	.noImg::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--background-color);
		opacity: 0.7;
		transition: background-color var(--transition-fast);
	}

	p {
		padding-inline: 0.5em;
		text-align: justify;
	}
}

@keyframes background-position {
	from {
		background-position: 200% 0;
	}
	to {
		background-position: 0 0;
	}
}
