._ {
	--stroke-width-quotien: 1;
	@media screen and (max-width: 500px) {
		--stroke-width-quotien: calc(1 / 1.5);
	}

	svg {
		overflow: visible;

		path {
			fill: none;
			stroke: #0083a1;
			//min-height: 0vw;
			stroke-width: clamp(
				var(--stroke-width-quotien) * 7px,
				var(--stroke-width-quotien) * (15px - 0.7vw),
				var(--stroke-width-quotien) * 13px
			);

			transform: translate(0);
			transform-origin: center;
			transition: transform 0.6s cubic-bezier(0.33, 1.91, 0.64, 0.64),
				rotate 0.6s cubic-bezier(0.33, 1.91, 0.64, 0.64), stroke-width 0.2s;
		}
	}

	&.open {
		path:nth-child(1) {
			transform: translateY(28%);
			rotate: 45deg;
		}
		path:nth-child(2) {
			transform: scale(0, 1);
			transition: transform 0.15s;
		}
		path:nth-child(3) {
			transform: translateY(-28%);
			rotate: -45deg;
		}
	}
}

div:hover > ._ {
	&:not(.open) {
		path:nth-child(1) {
			transform: translateY(-15%);
		}
		path:nth-child(2) {
			--stroke-width-quotien: calc(1 / 1.6); // Correct stroke-width with scale
			transform: scale(1.6);
			@media screen and (max-width: 500px) {
				--stroke-width-quotien: calc(1 / 1.5 / 1.6);
			}
		}
		path:nth-child(3) {
			transform: translateY(15%);
		}
	}

	&.open {
		path:nth-child(1) {
			rotate: 35deg;
		}
		path:nth-child(3) {
			rotate: -35deg;
		}
	}
}
