._ {
	svg {
		overflow: visible;

		path {
			fill: none;
			stroke: #0083a1;
			stroke-width: var(--svg-stroke-width);

			transform: translate(0);
			transform-origin: center;
			transition: transform 0.6s cubic-bezier(0.33, 1.91, 0.64, 0.64),
				rotate 0.6s cubic-bezier(0.33, 1.91, 0.64, 0.64), stroke-width 0.2s;
		}
	}

	&.open {
		path:nth-child(1) {
			transform: translateY(28%);
			rotate: 45deg;
		}
		path:nth-child(2) {
			transform: scale(0, 1);
			transition: transform 0.15s;
		}
		path:nth-child(3) {
			transform: translateY(-28%);
			rotate: -45deg;
		}
	}
}

div:hover > ._ {
	&:not(.open) {
		path:nth-child(1) {
			transform: translateY(-15%);
		}
		path:nth-child(2) {
			stroke-width: calc(var(--svg-stroke-width) / 1.6); // Correct stroke-width with scale
			transform: scale(1.6);
		}
		path:nth-child(3) {
			transform: translateY(15%);
		}
	}

	&.open {
		path:nth-child(1) {
			rotate: 35deg;
		}
		path:nth-child(3) {
			rotate: -35deg;
		}
	}
}
