._ {
	--stroke-width-quotien: 1;
	@media screen and (max-width: 500px) {
		--stroke-width-quotien: calc(1 / 1.5);
	}

	transition: rotate 0.7s cubic-bezier(0.33, 1.91, 0.64, 0.64);

	svg {
		overflow: visible;

		path {
			fill: none;
			stroke: #0083a1;
			min-height: 0vw;
			stroke-width: clamp(
				var(--stroke-width-quotien) * 7px,
				var(--stroke-width-quotien) * (15px - 0.7vw),
				var(--stroke-width-quotien) * 13px
			);
		}
	}
}

// Include container on hover (better ui) :
div:hover > ._ {
	rotate: 90deg;
}
