._ {
	--color: hsl(195, 100%, 16%);
	--active-color: hsl(189, 100%, 41%);
	--active-bg-color: hsl(341, 100%, 32%);

	position: sticky;
	top: 0;
	margin-bottom: 1em;

	width: 100%;
	z-index: 3;

	&.intro {
		z-index: 1;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logoLx {
		transition: scale 1s, translate 0.5s; // each have they own origine ;)
		&.reduceMotion {
			transition: scale 1s;
		}

		&:hover {
			scale: 1.05;
		}
	}

	.hamburger {
		position: absolute;
	}

	.sideNav {
		width: clamp(31px + 2em, (0.4 * 8.5vw) + 40px, 51px + 2em); // 1em + 2*padding
		padding: 1em;
		cursor: pointer;

		line-height: 0;
	}

	nav {
		position: absolute;
		left: 0;
		right: 0;

		margin: 0 clamp(31px + 3em, (0.4 * 8.5vw) + 40px + 1em, 51px + 3em); //  .sideNav width + 1em

		.navContainer {
			max-width: 25em;
			display: flex;
			justify-content: space-evenly;
			margin: auto;

			.navLink {
				display: flex;
			}

			a {
				padding: 1.2rem 0.3em;
				white-space: nowrap;

				&:after {
					bottom: 0.7em;
				}
				&.active {
					color: var(--active-color);

					&:after {
						border-color: var(--active-color);
						scale: 0.7;
					}
					&:hover:after {
						scale: 1;
					}

					svg {
						stroke: var(--active-color);
					}
				}
				svg {
					stroke: var(--color);
					stroke-width: 2;
					padding-top: 0.3em;
				}
			}
		}
	}

	transition: font-size 0.2s;
}

.mobile {
	font-size: 1.5em;

	.logoLx {
		translate: calc(50vw - 43%) 0; // allow logo animation on resize
		transition: scale 1s, translate 0.5s 0.2s; // add delay on translate to let the nav bar exit before the logo slide in
		&.reducedMotion {
			transition: scale 1s;
		}
	}

	.navMobile {
		font-size: 1em; // scale with header.mobile font-size
		margin: 0;
		position: static; // for the blur background to extend under mobile menu

		.navContainer {
			flex-direction: column;
			align-items: center;

			a {
				padding: 0.3em;

				&:after {
					bottom: 0.1em;
				}
			}
		}
	}
}
