._ {
	border: 1px solid #0099df;
	border-radius: 2em;

	max-width: 800px;
	margin: 2em;
	padding: 1em 2em;

	p {
		margin: 0.1em 0;

		a {
			padding-inline: 0.2em;
			padding-bottom: 0.1em;
		}
	}
}
