._ {
	border: 1px solid #0099df;
	border-radius: 2em;

	max-width: 800px;
	margin: 2em;
	padding: 1em 2em;

	h1 {
		font-weight: 100;
		transition: color 1.3s;

		span {
			position: relative;
		}

		.highlight {
			transition: color 1.3s;
		}
		&:hover {
			color: hsla(185 100% 25% / 25%);
		}
		&:hover .highlight {
			color: hsl(185, 100%, 25%);
		}
	}
}
