._ {
	border: 1px solid var(--border-main-color);
	border-radius: 2em;

	max-width: 800px;
	margin: 2em;
	padding: 1em 2em;

	transition: border-color var(--transition-fast);

	address {
		display: inline-block;
		font-style: normal;
	}

	.contactLine {
		display: flex;
		justify-content: space-between;
		margin: 0.1em 0;

		a {
			padding-inline: 0.2em;
			padding-bottom: 0.1em;
		}
	}

	dt {
		z-index: 1; // issue with Safari when selecting
		margin-inline-end: 1.3em;
		color: var(--text-accent-color-muted);
		transition: color var(--transition-fast);
	}
}
