._ {
	position: absolute;
	width: 100%;
	max-width: 30vmin;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	picture {
		position: absolute;
		width: 100%;
	}

	&.smoothTranslate picture {
		transition: translate 0.5s;
	}
}
