._ {
	position: absolute;
	width: 100%;
	max-width: 30vmin;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	picture {
		position: absolute;
		width: 100%;
	}

	&.smoothTranslate picture {
		transition: translate 0.8s;
	}

	.flash {
		animation: flash 0.9s;
	}
}

@keyframes flash {
	35% {
		transform: translateY(-2px);
	}
	65% {
		transform: translateY(-2px);
	}
}
