body {
	--main-color: hsl(187deg 100% 50%);
	--dark-color: #003f54;
	--secondary-color: hsl(347deg 100% 50%);
	--secondary-color-dark: hsl(347deg, 50%, 20%);
}

h1,
h2 {
	color: #0083a1;
	font-weight: 100;
	font-size: 2.5em;
	line-height: 1;
	margin: 0.7rem 1rem;
}
h2 {
	font-size: 2em;
}

button {
	position: relative;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;

	margin: 0.5em;
	padding: 0.2em 0.7em 0.3em 0.7em;

	font-family: inherit;
	font-size: 0.95em;
	color: var(--dark-color);
	&:hover {
		color: #0083a1;
	}

	transition: scale 0.3s;
	&:hover {
		scale: 1.05;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

a:not(.button) {
	position: relative;
	transition: scale 0.2s, color 0.2s;
	color: var(--dark-color);

	&:hover {
		scale: 1.05;
		color: #0083a1;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		border-bottom: 1px solid hsl(200, 47%, 50%);
		border-radius: 50%;
		scale: 0 1;
		transition: scale 0.2s;
	}

	&:hover:after {
		scale: 1 1;
		transition: scale 0.3s cubic-bezier(0.2, 1.8, 0.6, 0.7);
	}
}

///
///
main {
	--distance-from-header: 4em;
	min-height: calc(100vh - var(--distance-from-header));
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 1em;
}

section {
	position: relative;
	margin: 1em 0;
	padding: 1em 0 2em 0;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		border-bottom: 1px solid var(--secondary-color-dark);
		border-radius: 50%;
	}
}
