main {
	--distance-from-header: 4em;

	margin-top: var(--distance-from-header);
	min-height: calc(100vh - var(--distance-from-header));

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #003f54;

	position: relative;
	transition: scale 0.2s, color 0.2s;

	&:hover {
		scale: 1.05;
		color: #0083a1;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		border-bottom: 1px solid hsl(200, 47%, 50%);
		scale: 0 1;
		transition: scale 0.2s;
	}

	&:hover:after {
		scale: 1 1;
		transition: scale 0.3s cubic-bezier(0.2, 1.8, 0.6, 0.7);
	}
}
