@import "./theme.scss";

:root {
	--header-height: 5em;
	@media (width < 500px) {
		--header-height: 6em;
	}
	--header-mobile-nav-height: 0em;

	--svg-stroke-width: 8px;

	font-size: calc(10px + 1vw);
	font-family: "K2D", sans-serif;
	text-align: center;
	font-weight: 400;
	color: var(--text-main-color);
	transition: color var(--transition-fast);

	scrollbar-gutter: stable both-edges;
	&::-webkit-scrollbar {
		width: 0;
	}
}

:root,
body {
	position: relative;
	overflow-x: hidden;
	overflow-x: clip;
}

body {
	width: 100%;
	background-color: var(--background-color);
	transition: background-color var(--transition-fast);

	#app {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
