/* =====================================================
   🎨 Base Theme (light)
   ===================================================== */
:root {
	--main-color: hsl(187deg 100% 40%);
	--accent-color: hsl(344deg 100% 50%);
	--accent-color-soft: hsl(344deg 60% 50%);
	--accent-color-muted: hsl(344deg, 50%, 20%);
	--neutral-color: hsl(0 0% 60%);
	--neutral-color-muted: hsl(0 0% 90%);
	--neutral-color-transparent: hsla(0 0% 80% / 30%);

	--background-color: hsl(187deg 10% 97%);
	--background-color-elevated: hsl(187deg 10% 100%);
	--background-color-inverse: hsl(195, 30%, 9%);
	--background-accent-color-faded: hsl(344deg 100% 98%);

	--text-main-color: hsl(195, 100%, 16%);
	--text-main-color-soft: hsl(195, 100%, 25%);
	--text-main-color-hover: hsl(191deg 100% 32%);
	--text-main-color-inverse: hsl(187deg 30% 88%);
	--text-accent-color: hsl(344deg 100% 50%);
	--text-accent-color-muted: var(--accent-color-muted);

	--logo-main-color: hsl(191deg 100% 32%);

	--title-main-color: var(--logo-main-color);
	--title-main-color-transparent: hsla(191deg 100% 32% / 25%); // For hover effects on speudo

	--border-main-color: hsl(196deg 80% 44%);
	--border-main-color-muted: hsl(196deg 100% 25%);
	--border-accent-color: hsl(344deg 100% 50%);
	--border-accent-color-soft: hsl(344, 100%, 25%);
	--border-accent-color-muted: var(--accent-color-muted);
	--border-neutral-color: hsl(344deg 10% 80%);

	--selection-background-color: hsl(344deg 100% 41% / 99%);
	img {
		--selection-background-color: hsl(344deg 100% 41% / 50%);
	}
	--selection-text-color: #ffffff;

	/* Transitions */
	--transition-fast: 0.15s ease-in-out;
	--transition-smooth: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	--transition-bounce: 0.3s cubic-bezier(0.2, 1.8, 0.6, 0.7);
}

/* =====================================================
   🌙 Thème sombre
   ===================================================== */
.dark {
	--main-color: hsl(187deg 100% 60%);
	--accent-color: hsl(344deg 100% 60%);
	--accent-color-soft: hsl(344deg 60% 60%);
	--accent-color-muted: hsl(344deg, 50%, 90%);
	--neutral-color: hsl(0 0% 40%);
	--neutral-color-muted: hsl(0 0% 22%);
	--neutral-color-transparent: hsla(0 0% 40% / 20%);

	--background-color: hsl(195, 30%, 9%);
	--background-color-elevated: hsl(195, 7%, 15%);
	--background-color-inverse: hsl(187deg 10% 97%);
	--background-accent-color-faded: hsl(344deg 13% 15%);

	--text-main-color: hsl(187deg 30% 88%);
	--text-main-color-soft: hsl(187deg 45% 70%);
	--text-main-color-hover: hsl(191 80% 65%);
	--text-main-color-inverse: hsl(195, 100%, 16%);
	--text-accent-color: hsl(344deg 100% 50%);
	--text-accent-color-muted: var(--accent-color-muted);

	--logo-main-color: hsl(191deg 70% 60%);

	--title-main-color: var(--logo-main-color);
	--title-main-color-transparent: hsla(191deg 70% 60% / 40%); // For hover effects on speudo

	--border-main-color: hsl(187deg, 50%, 70%);
	--border-main-color-muted: hsl(196deg 100% 80%);
	--border-accent-color: hsl(344deg 100% 50%);
	--border-accent-color-soft: hsl(344, 60%, 85%);
	--border-accent-color-muted: hsl(344deg, 40%, 93%);
	--border-neutral-color: hsl(344deg 3% 40%);
}

/* =====================================================
	🖋️ Fonts
	===================================================== */
@font-face {
	font-family: K2D;
	src: url(./assets/fonts/K2D-Thin.ttf) format("truetype");
	font-display: swap;
	font-weight: 100;
}
@font-face {
	font-family: K2D;
	src: url(./assets/fonts/K2D-Regular.ttf) format("truetype");
	font-display: swap;
	font-weight: 400;
}
@font-face {
	font-family: K2D;
	src: url(./assets/fonts/K2D-Bold.ttf) format("truetype");
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: Exo;
	src: url(./assets/fonts/Exo-VariableFont_wght.ttf) format("truetype-variations");
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: AlbertSans;
	src: url(./assets/fonts/AlbertSans-VariableFont_wght.ttf) format("truetype-variations");
	font-display: swap;
	font-weight: 100 900;
}
