._ {
	--active-label-bg-color: var(--main-color);
	--active-label-text-color: var(--text-main-color-inverse);

	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;

	border: none;
	border-radius: 1.5em;
	padding: 0.6em 0.6em 0.5em 0;
	margin-left: 0.85em; // icon width / 2
	margin-bottom: 0.4em;

	.background {
		position: absolute;
		z-index: -1;
		inset: -1px;

		border: 1px solid var(--border-neutral-color);
		border-radius: 1.5em;

		background-color: var(--background-color-elevated);
		// background-color: hsl(from var(--background-color-elevated) h s l / 70%); // not supported by Sass yet -> JS
		mask: radial-gradient(circle 0.85em at 1px calc(50% + 1px), transparent 0.84em, black 0.85em);
		transition: background-color var(--transition-fast), border-color var(--transition-fast);
	}

	.currentIcon {
		height: 2.125em;
		min-width: 2.125em;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0.1em;
		margin-left: -1.05em; // icon width / 2
		margin-right: 0.6em;

		border: 1px solid var(--border-neutral-color);
		border-radius: 2em;
		// background-color: hsl(from var(--background-color-elevated) h s l / 70%); // not supported by Sass yet -> JS

		font-size: 0.8em;
		color: var(--text-main-color);
		--stroke-color: var(--text-main-color);

		transition: background-color var(--transition-fast), border-color var(--transition-fast),
			color var(--transition-fast);

		path,
		circle,
		line {
			transition: fill var(--transition-fast), stroke var(--transition-fast);
		}
		div {
			// Logo
			width: 1.7em;
			min-width: 1.7em;
			height: 1.7em;
			padding: 0.35em;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.contentHeader {
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			display: flex;
			align-items: center;
		}

		legend {
			margin-left: 0.4em;
			margin-bottom: 0.2em;
			text-align: start;

			span {
				display: block;
				font-size: 0.9em;
				line-height: 1;
			}
		}

		p {
			text-align: start;
			max-width: 30ch;
			font-size: 0.8em;
			color: var(--text-main-color-soft);
			transition: color var(--transition-fast);
		}
	}

	.toggle {
		//width: calc(1.7em * var(--nb-of-values));
		position: relative;
		display: inline-grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;

		border: 1px solid var(--border-main-color-muted);
		border-radius: 3em;
		margin-right: 0.3em;
		padding-block: 0.1em;

		transition: border-color var(--transition-fast);

		input[type="radio"] {
			visibility: hidden;
			position: absolute;
		}

		label {
			display: grid;
			place-items: center;
			min-width: 1.9em;
			padding: 0.15em 0.3em;
			margin: 0;
			text-align: center;
			cursor: pointer;

			font-size: 0.8em;
			color: var(--text-main-color);
			--stroke-color: var(--text-main-color);

			transition: background-color var(--transition-fast), border-color var(--transition-fast),
				color var(--transition-fast);

			path,
			circle,
			line {
				transition: fill var(--transition-fast), stroke var(--transition-fast);
			}
			div {
				// Logo
				width: 1.7em;
				min-width: 1.7em;
				height: 1.7em;
				padding: 0.35em;
			}
		}

		.currentValue {
			position: absolute;
			top: 0;
			bottom: 0;
			width: calc(100% / var(--nb-of-values));
			z-index: 2;
			transition: translate 0.5s cubic-bezier(0.77, 0, 0.175, 1);

			& > div {
				position: absolute;
				inset: 0.15em;

				display: flex;
				justify-content: center;
				align-items: center;

				border-radius: 3em;
				background-color: var(--active-label-bg-color);
				text-align: center;
				font-size: 0.8em;
				color: var(--active-label-text-color);
				--stroke-color: var(--active-label-text-color);

				opacity: 0;
				transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.15s, background-color var(--transition-fast),
					color var(--transition-fast);
				will-change: opacity;

				&.active {
					opacity: 1;
				}

				path,
				circle,
				line {
					transition: fill var(--transition-fast), stroke var(--transition-fast);
				}
				div {
					// if Logo
					width: 1.7em;
					min-width: 1.7em;
					height: 1.7em;
					padding: 0.35em;

					--right-color: var(--active-label-text-color); // To make a ✓
					--wrong-color: var(--active-label-text-color); // To make a ✗
					--neutral-color: var(--neutral-color-transparent); // To make a neutral color for the logo
				}
			}
		}
	}
}
